<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/recipes" method="post">
      <select name="pizza">
        <option value="Milano pizza">Milano pizza</option>
        <option value="Capricioza">Capricioza</option>
        <option value="Bianca">Bianca</option>
      </select>
      <button type="submit">Get ingredients</button>
    </form>
  </body>
</html>
