<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student form</title>
  </head>
  <body>
    <form action="/" method="get">
      <input type="text" name="firstName" placeholder="First Name" required />
      <input type="text" name="lastName" placeholder="Last Name" />
      <input
        type="number"
        name="averageScore"
        placeholder="Average score (digit)"
        required
      />
      <button type="submit">Submit the student</button>
    </form>
  </body>
</html>
